/* OVERARCHING STYLES */
html,
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 6fr 2fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

/* TEXT STYLES */
h1 {
  color: #4D4D4D;
  padding-bottom: 2%;
}

h2 {
  margin: 0;
  font-size: 1em;
  font-weight: lighter;
}

h3 {
  font-size: 0.75em;
  padding-top: 5%;
}

h3,
.views {
  text-transform: uppercase;
  margin: 0;
}

p {
  margin: 0;
}

/* NAV STYLES */
nav {
  background: #2B2B2B;
  grid-area: nav;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "username username"
    "links logo";
  padding: 1%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  width: 100%;
}

li {
  text-transform: uppercase;
  display: inline;
  padding-right: 5%;
}

.fa-user-circle {
  color: white;
}

.username {
  grid-area: username;
  text-align: right;
  color: white;
  font-size: 0.9em;
  color: #29B5FD;
}

.links {
  grid-area: links;
  display: flex;
  align-items: center;
  margin-left: 2%;
}

.fa-list-ul,
.fa-user,
.fa-caret-down {
  color: #29B5FD;
}

.playlists-link,
.personal-link {
  color: #949494;
}

.logo {
  grid-area: logo;
  text-align: right;
  color: white;
  font-size: 2.75em;
  padding: 3%;
  font-weight: bold;
}

/* MAIN STYLES */
main {
  background: #EFEFEF;
  grid-area: main;
  padding: 1%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

article {
  background: white;
  height: 450px;
  box-shadow: 0 0 5px 1px gray;
}

.background-image-card1 {
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url("./images/0526201124.jpg");
}

.background-image-card2 {
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url("./images/IMG_6224.jpg");
}

.background-image-card3 {
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url("./images/1111191305_HDR.jpg");
}

.background-image-card4 {
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url("./images/IMG_5929.jpg");
}

.background-image-card5 {
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url("./images/IMG_6012.jpg");
}

.background-image-card6 {
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url("./images/IMG_6315.jpg");
}

.background-image-card7 {
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url("./images/IMG_6009.jpg");
}

.background-image-card8 {
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url("./images/IMG_6367.jpg");
}

.background-image {
  display: flex;
  align-items: flex-start;
  background-position: center;
  height: 40%;
  background-size: cover;
}

.text-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4%;
}

.views {
  color: white;
  text-align: center;
  padding-top: 0;
}

.views-text {
  padding: 0;
}

.info {
  padding: 4%;
  color: #4D4D4D;
}

.date-time {
  color: #9D9E9F;
  font-size: 0.8em;
}

.link {
  background: #EFEFEF;
  padding: 3% 12% 5% 3%;
  overflow-wrap: break-word;
  margin-top: 5%;
  margin-bottom: 1%;
  font-size: 0.8em;
}

.arrow {
  border-radius: 50%;
  background: white;
  font-size: 1.5em;
  text-align: center;
  color: #4D4D4D;
}

.fa-share {
  padding: 20px;
}

.num {
  font-size: 2em;
  margin: 0;
}

.blue {
  color: #29B5FD;
}

/* FOOTER STYLES */
footer {
  background: #EFEFEF;
  grid-area: footer;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav {
    padding-right: 1%;
  }
}

@media screen and (max-width: 900px) {
  nav {
    padding-right: 1%;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  li {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  article {
    min-height: 550px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    width: 100%;
    text-align: center;
    padding-top: 5%;
  }

  li {
    display: inline;
  }

  .shares-link {
    padding-right: 5%;
  }

  .playlists-link,
  .personal-link {
    padding-left: 5%;
    padding-right: 0;
  }
}
