@import "./node_modules/normalize.css";

html,
body {
  margin: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 0;
}

.main-container {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 4fr 3fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

nav {
  background: #2B2B2B;
  grid-area: nav;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "username username"
    "links logo";
  padding: 1%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

li {
  text-transform: uppercase;
  display: inline;
  padding-right: 5%;
}

main {
  background: #EFEFEF;
  grid-area: main;
  padding: 1%;
}

footer {
  background: #EFEFEF;
  grid-area: footer;
}

.username {
  grid-area: username;
  text-align: right;
  color: white;
  font-size: 0.9em;
  color: #29B5FD;
}

.links {
  grid-area: links;
}

.playlists-link,
.personal-link {
  color: #949494;
}

.logo {
  grid-area: logo;
  text-align: right;
  color: white;
  font-size: 2.75em;
  padding: 3%;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "card1 card2 card3 card4"
    "card5 card6 card7 card8";
  grid-gap: 1%;
}

article {
  background: white;
  max-width: 320px;
  box-shadow: 2px 2px 5px gray;
}

h1 {
  color: #4D4D4D;
  padding-bottom: 2%;
}

h2 {
  margin: 0;
  font-size: 1em;
  font-weight: lighter;
}

h3 {
  font-size: 0.75em;
  padding-top: 5%;
}

h3,
.views {
  text-transform: uppercase;
  margin: 0;
}

.background-image {
  display: flex;
  justify-content: flex-start;
  /* background: black;
  opacity: .5; */
}

.card-image {
  position: relative;
  width: 100%;
  height: 155px;
}

.text-overlay {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 15px;
}

.views {
  color: white;
}

.info {
  padding: 15px;
  color: #4D4D4D;
}

.date-time {
  color: #9D9E9F;
  font-size: 0.8em;
}

.link {
  background: #EFEFEF;
  padding: 3% 12% 5% 3%;
  overflow-wrap: break-word;
  margin-top: 5%;
  margin-bottom: 1%;
  font-size: 0.8em;
}

.flip-arrow {
  font-size: 2.5em;
}

.num {
  font-size: 2em;
  margin: 0;
}

.blue {
  color: #29B5FD;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.card6 {
  grid-area: card6;
}

.card7 {
  grid-area: card7;
}

.card8 {
  grid-area: card8;
}
